h1,
h2,
h3,
h4,
h5 {
  margin-top: 4px;
  margin-bottom: 4px;
}
p {
  margin: 0;
}

code {
  word-break: break-all;
}

.mainContainer {
  margin: 8px 16px;
}

.dataPanelSaveButtons {
  display: flex;
  gap: 8px;
}

.dataPanelActionButtons {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.textInfo {
  border-bottom: 1.5px solid lightgrey;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.savedInfo {
  border-bottom: 1.5px solid lightgrey;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
}

.note-input {
  width: 100%;
}

/* no data panel */

.mainText {
  font-weight: bold;
  font-size: 1rem;
  margin: 16px 8px 32px;
}

.nav {
  margin-bottom: 8px;
  display: flex;
  gap: 4px;
}
.nav .tab {
  background: none;
  margin: 0;
  padding: 4px;
  text-align: initial;
  border: none;
  appearance: none;
  border-bottom: 1px solid;
  font-weight: bold;
}
.nav .tab:focus,
.nav .tab:hover {
  border-bottom: 2px solid;
}

/* data panel */
.headerNavContainer {
  display: flex;
  align-items: baseline;
}
.exportButtonContainer {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

/* html element */
.htmlElementContainer {
  display: inline-flex;
  align-items: baseline;
  gap: 8px;
}
